.threadInput {
  text-align: center;
  padding: 20px 0px;
  input {
    width: 90%;
    background: #F7F6FA;
    border-radius: 24px;
    padding: 14px 24px;
    border: none;
    outline: 0px;
    &:focus {
      box-shadow: inset 0px 0px 7px 0px #51515542;
    }
  }
}