.thread {
  // width: 75%; - Ultra wide considerations
  width: calc(100vw - (360px + (32px * 2)));
  display: flex;
  &__contents {
    // *4 because we're dividing it again
    width: calc(100vw - (360px + (32px * 4)));
  }
  .threadDetails {
    width: 360px;
  }

  &__header {
    border-bottom: 2px #F3F1F6 solid;
    padding: 16px 25px;
    h2 { margin: 0px }
  }
  &__contents {
    border-left: 2px #F3F1F6 solid;
    border-right: 2px #F3F1F6 solid;
  }
  &__messages {
    padding: 30px 25px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    .message:first-child {
      margin: 0px 0px 25px 0px;
      margin-top: auto !important;
    }
    .message:not(:first-child) {
      margin: 25px 0px;
    }
  }
  &__divider {
    border-top: 1px solid #F3F1F6;
    position: relative;
    margin: 30px 0px;
    color: #BBB8C5;
    p {
      position: absolute;
      width: 100%;
      text-align: center;
      top: -28px;
      span {
        padding: 9px;
        background: #F7F6FA;
        border: 8px solid #FFFFFF;
        border-radius: 23px;
        font-size: 12px;
      }
    }
  }
}